<%- include('partials/header') %>

<h1>Campgrounds Page</h1>
<a href="/">Back to landing page</a>

<% campgrounds.forEach(element => { %>
    <div>
        <h2><%= element.name %></h2>
        <img src='<%= element.image %>' style="
        width: 500px;
        height: 350px">
    </div>
<% }) %>

<%- include('partials/footer') %>