<%- include('partials/header') %>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp</h1>
        <p>View our hand-picked campgrounds from all over the world.</p>
    </header>

    <a href="/campgrounds">View All Campgrounds</a>
    <br>
    <a href="/campgrounds/new">Add New Campgrounds</a>
</div>


<%- include('partials/footer') %>