.thumbnail img {
    width: 100%;
    /* object-fit: cover; */
}

.thumbnail {
    padding: 0;
    overflow: hidden;
}

.thumbnail .caption-full {
    padding: 9px;
}

.remove-button {
    display: inline;
}
body {
    /* background-color: purple; */
}

.comment-form-header {
    text-align: center;
}

.comment-form-container {
    width: 30%; 
    margin: 25px auto;
}